body, html {
    box-sizing: border-box;
    background-color: #dfceb9;
}

.bg-green {
    background-color: #0c4648;
}

.text-cream {
    color: #dfceb9;
}

.btn-danger {
    background-color: #d76144;
    border-color: #d76144;
}

.btn-dark {
    background-color: #0c4648;
    border-color: #0c4648;
}

.title {
    width: 100%;
}

.title:hover {
    cursor: pointer;
}

.error-message{
    color: #dc3545;
}

.add-todo {
    height: 4rem;
}

.todo-completed {
    border: 4px solid #3b6061;
}